.galeria {
  display: grid;
  column-gap: 10px;
  row-gap: 20px;
  grid-template-columns: auto auto auto;
}


.foto {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.foto img {
  max-height: 100%;
  max-width: 100%;
}

.foto_grande {
  display: none;
  z-index: 10000;
  background-color: rgba(0,0,0,0.8) !important;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.botaoFechar {
  font-size: 30px;
  color: white;
  position: absolute;
  right: 30px;
  top: 30px;
  cursor: pointer;
}
.foto_fotogrande {
  /* max-width: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.foto_fotogrande img {
  height: 80vh;
}
.paginas {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
.paginas a {
  border: 1px solid #ba3925;
  line-height: 20px;
  width: 20px;
  height: 20px;
  text-align: center;
}