/**
 * CAMat-Wiki!
 * Centro Acadêmico da Matemática, Estatística e Computação da Universidade de São Paulo
 * https://camat.ime.usp.br/
 * 
 * Arquivo de estilização de posts do BoletIME.
 */

 .boletIME-post-capa {
  width: 100%;
  margin-right: 8px;
  padding: 0px;
  box-shadow: inset 0 0 99999px rgba(0, 0, 0, 1);
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: black;
}
.boletIME-post-capa img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  fill: black;
}
/* titulo do post */
.boletIME-post-titulo {
  background-color: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: end;
  min-height: 350px;
  height: 100%;
}
.boletIME-post-titulo > div {
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bolder;
  font-size: 50px;
  padding-top: 50px !important;
}
.boletIME-post-titulo div .subtitulo {
  font-size: 38px;
  font-weight: bolder;
}
.boletIME-post-texto {
  padding-top: 0px !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}
.boletIME-post-texto .img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.boletIME-post-texto .img div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center !important;
}
.boletIME-post-texto .img div p {
  text-indent: unset;
  text-align: center !important;
  font-size: small;
}

.boletIME-post-pos-cabecalho {
  text-align: left;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 2.5rem;
}
.boletIME-post-pos-cabecalho-tags {
  display: flex;
  grid-gap: 10px;
}
.boletIME-post-texto-conteudo p {
  text-indent: 30px;
}
.nao-indentar p {
  text-indent: 0px;
}

.boletIME-post-cabecalho-info {
  display: flex;
  justify-content: space-between;
}
.boletIME-post-cabecalho-autor {
  max-width: 70%;
}

@media all and (max-width: 770px) {
  .boletIME-post-texto-conteudo {
    font-size: medium !important;
  }
  h2 {
    font-size: x-large;
  }
  h3 {
    font-size: large;
  }
}

/* tags */
.boletIME-post-tag {
  padding: 10px;
  border-radius: 6px;
  font-size: 16px;
  line-height: 16px;
  margin: 5px 0px;
  color: white;
}
.boletIME-post-tag-Crusp {
  background-color: rgb(162, 103, 218);
  color: white;
}
.boletIME-post-tag-Histórico {
  background-color: rgb(50, 114, 231);
  color: white;
}
.boletIME-post-tag-BoletIME {
  background-color: var(--highlight-color);
  color: white;
}
.boletIME-post-tag-CinIME {
  background-color: forestgreen;
  color: white;
}
.boletIME-post-tag-Informe {
  background-color: yellow;
  color: black;
}
.boletIME-post-tag-Nota {
  background-color: red;
  color: white;
}
.boletIME-post-tag-CONUNE {
  background-color: rgb(255, 0, 119);
  color: white;
}
.boletIME-post-tag-ENEMAT {
  background-color: rgb(0, 4, 255);
  color: white;
}
.boletIME-post-tag-Entrevista {
  background-color: rgb(216, 159, 188);
  color: white;
}
.boletIME-post-tag-Leitores {
  background-color: rgb(216, 159, 188);
  color: white;
}
.boletIME-post-tag-URGENTE {
  background-color: red;
  color: white;
}
.boletIME-post-tag-GrevIME {
  background-color: purple;
  color: white;
}


.boletIME-post-postexto {
  display: flex;
  justify-content: space-evenly;
}
.boletIME-post-compartilhar {
  display: flex;
}
.boletIME-post-botao-compartilhar {
  font-size: 20px;
  line-height: 20px;
  padding: 5px;
  margin: 0px 3px;
  background-color: var(--highlight-color);
  color: white;
  border-radius: 10px;
}
.boletIME-post-botao-compartilhar:hover {
  cursor: pointer;
  color: white;
}

/* outros posts (recomendacoes) */
.boletime-post-recomendacoes {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  row-gap: 20px;
}
.boletime-post-recomendacao {
  /* min-height: 200px; */
  height: 100%;
  display: grid;
  border-radius: 10px;
  background-color: var(--header-color);
  grid-template-columns: 25% 75%;
}
.boletime-post-recomendacao-capa {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 200px;
}
.boletime-post-recomendacao-conteudo {
  padding: 10px 20px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  min-height: 200px;
  height: 100%;
  color: black;
  border-radius: 10px;
}
.boletime-post-recomendacao-tags {
  display: flex;
  column-gap: 5px;
  height: 30px;
}
.boletIME-post-recomendacao-tag {
  font-size: 11px;
  padding: 1px 5px;
  border-radius: 5px;
  max-height: 20px;
  text-align: center;
}
.boletime-post-recomendacao-titulo {
  text-align: left;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 5px;
}
.boletime-post-recomendacao-data {
  margin-top: 7px;
  font-size: 13px;
}
.boletime-post-recomendacao-resumo {
  overflow: hidden;
  font-size: 13px;
  line-height: 20px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.boletime-post-recomendacao:hover {
  background-color: var(--highlight-color) !important;
}
.boletime-post-recomendacao:hover .boletime-post-recomendacao-conteudo, .boletime-post-recomendacao:hover .boletime-post-recomendacao-conteudo div {
  color: white !important;
  background-color: var(--highlight-color) !important;
}
.boletime-post-recomendacao:hover .boletime-post-recomendacao-capa {
  border: 3px outset var(--highlight-color) !important;
}
.boletime-post-recomendacao-autoria {
  /* margin-top: 4px;; */
  font-size: 13px;
}


.aviso-vermelho {
  background-color: #f8362c;
  color: white;
}
.aviso-amarelo {
  background-color: #e6a517;
  color: black;
}
.aviso-escuro {
  background-color: #131313;
  color: white;
}
.aviso-amarelo p, .aviso-escuro p, .aviso-vermelho p {
  padding: 15px;
  text-indent: 0px;
  font-size: 13px;
}
.aviso-amarelo a {
  color: white;
  text-decoration: underline;
}
.aviso-vermelho a {
  color: black;
  text-decoration: underline;
}


@media all and (max-width: 991px) {
  .boletime-post-recomendacao {
    grid-template-columns: 100% 0%;
  }
  .boletIME-post-titulo > div {
    text-align: left;
    font-size: 40px;
  }
  .boletime-post-recomendacao-resumo {
    font-size: 15px;
  }  
  .boletime-post-recomendacao-conteudo-header {
    display: flex;
  }
  .boletIME-post-texto .img div {
    max-width: 100%;
  }
  .boletIME-post-texto .img div p {
    font-size: 14px;
  }
  .boletime-post-recomendacao {
    position: relative;
  }
  .boletime-post-recomendacao:hover .boletime-post-recomendacao-capa {
    border: none !important;
  }
  .boletime-post-recomendacao:hover > .boletime-post-recomendacao-conteudo{
    color: white !important;
    background-color: rgba(186, 57, 37, 0.8) !important;
    border: none;
  }
  .boletime-post-recomendacao:hover > .boletime-post-recomendacao-conteudo > div {
    background-color: unset !important;
  }
  .boletIME-post-cabecalho-info {
    flex-direction: column;
  }
  .boletIME-post-postexto {
    flex-direction: column;
  }
  .boletime-post-recomendacao-capa {
    align-self: center;
    justify-content: center;
    position: absolute;
    z-index: 1;
    width: 100%;
    border-radius: 10px;
  }
  .boletime-post-recomendacao-conteudo {
    z-index: 2;
    width: 100%;
    color: white !important;
    background-color: rgba(0,0,0,0.5) !important;
    justify-content: space-evenly;
  }
  .boletime-post-recomendacao-conteudo section {
    justify-content: center;
  }
  .boletime-post-recomendacao-conteudo > div {
    background-color: unset !important;
  }
  .boletime-post-recomendacao:hover .boletime-post-recomendacao-capa {
    border: unset;
  }
}

@media all and (max-width: 770px) {
  .boletime-post-recomendacao-titulo {
    font-size: 18px;
  }
  .boletime-post-recomendacao-autoria {
    font-size: 12px;
  }
  .boletIME-post-titulo > div {
    font-size: 27px;
    font-weight: bold;
  }
  .boletIME-post-titulo div .subtitulo {
    font-size: 23px;
  }
  .boletime-post-recomendacao-titulo {
    font-size: 16px;
  }
  .boletime-post-recomendacao-resumo {
    font-size: 13px;
  }
  .boletIME-post-recomendacao-tag {
    font-size: 9px;
    padding: 1px 5px;
    border-radius: 5px;
    height: 16px;
  }
  .boletime-post-recomendacao-conteudo {
    padding: 10px 10px;
  }

  .boletime-recomendacao-arquivo {
    height: auto;
  }
  .boletime-post-recomendacao-capa-arquivo {
    width: 100%;
  }
  .boletime-post-recomendacao-capa-arquivo div {
    font-size: 15px;
    padding: 10px;
  }
  .boletIME-blog-titulo {
    font-size: 40px;
  }
}

/* Paginacao */
.index-paginas {
  display: flex;
  /* justify-content: center; */
  align-items: end;
  flex-direction: column;
  padding: 5px;
  padding-top: 0px;
  row-gap: 0px;
}
.index-quantas-paginas {
  margin: 0px;
  font-size: 13px;
  margin-bottom: 3px;
}
.index-paginas ul {
  margin: 0px;
  list-style: none;
  display: flex;
}
.index-paginas li {
  border: 1px solid white;
  font-size: 19px;
  line-height: 30px;
  padding: 0px;
  text-align: center;
  height: 30px;
  width: 30px;
  color: var(--header-color);
  border: 1px solid var(--header-color);
}
.index-paginas li.index-paginas-ativo {
  color: white;
  border: 1px solid var(--highlight-color);
}
.index-paginas li.index-paginas-ativo:hover {
  background-color: var(--highlight-color);
  cursor: pointer;
}
.index-paginas li.index-paginas-ativo:hover a {
  color: white;
}