/**
 * CAMat-Wiki!
 * Centro Acadêmico da Matemática, Estatística e Computação da Universidade de São Paulo
 * https://camat.ime.usp.br/
 * 
 * Arquivo de estilização da página do BoletIME.
 */

.boletIME-capa {
  text-align: center;
}
.boletIME-capa img {
  width: 80%;
}
.boletime_edicoes {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  column-gap: 30px;
  height: 100%;
}
.edicao_boletime {
  width: 25%;
  height: 250px;
  display: grid;
  grid-template-rows: 85% 15%;
}
@media all and (max-width:813px) and (min-width:601px) {
  .edicao_boletime {
      width: 40%;
      height: 300px;
  }
}
@media all and (max-width:600px) {
  .boletime_edicoes {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: 30px;
  }
  .edicao_boletime {
      width: 60%;
      height: 300px;
  }
}
.edicao_boletime:hover {
  cursor: pointer;
  border: 3px solid var(--highlight-color);
}
.edicao_boletime img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.edicao_boletime_titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--highlight-color);
  transition-duration: .3s;
  color: white !important;
}
.edicao_boletime:hover .edicao_boletime_titulo {
  background-color: #212121;
}