/**
 * CAMat-Wiki!
 * Centro Acadêmico da Matemática, Estatística e Computação da Universidade de São Paulo
 * https://camat.ime.usp.br/
 * 
 * Arquivo de estilização da página do CinIME.
 */
.conteudo_cinime {
    background-color: white;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    border-image: url('../images/filme.png') 100 100 repeat;
    -moz-border-image: url('../images/filme.png') 100 100 repeat;
    -o-border-image: url('../images/filme.png') 100 100 repeat;
}

img {
    max-height:100%;
    vertical-align: middle; 
}

.poster {
    width: 100%;
}
.poster .content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
}
.poster img {
    margin: 0px;
    max-width: 80%;
    padding: 20px;
}

@media all and (max-width: 560px) {
    .poster img {
        margin: 0px;
        max-width: 100%;
        padding: 20px;
    }   
}

section#descricao {
    margin-bottom: 20px !important;
}

section#sinopse p{
    margin-block-start: .5em;
    margin-block-end: .5em;
}

.swiffy-slider div {
    text-align: center !important;
}

.slider-container li {
    text-align: center;
}
.slider-container li img {
    width: 220px;
}
.slider-container li b {
    font-size: 18px;
}
.swiffy-slider .slider-nav {
    top: 50%;
    transform: translateY(-50%);
    visibility: visible;
    background-color: rgb(77,9,8) !important;
}