{% if page.description %}
    {% assign description = page.description %}
{% else if page.resumo %}
    {% assign description = page.resumo %}
{% else %}
    {% assign description = site.description %}
{% endif %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>CAMat - {{ page.title }}</title>
<meta name="description" content="{{ description }}">
<meta name="author" content="Centro Acadêmico da Matemática, Estatística e Computação do Instituto de Matemática e Estatística da Universidade de São Paulo">
<meta name="copyright" content="GPLv2">

<link rel="stylesheet" href="{{ site.url }}/css/fonts.css">
<link rel="stylesheet" href="{{ site.url }}/css/coderay.css">
<link rel="stylesheet" href="{{ site.url }}/css/milligram.css">
<link rel="stylesheet" href="{{ site.url }}/css/main.css">
<link rel="stylesheet" href="{{ site.url }}/css/menu.css">
<link rel="stylesheet" href="{{ site.url }}/css/repasse.css">
<link rel="stylesheet" href="{{ site.url }}/css/noturno.css">
<link rel="icon" 
      type="image/svg+xml" 
      href="{{ site.url }}/images/icons/favicon.svg">

<!-- SEO -->
<meta prefix="og: http://ogp.me/ns#" /> 
<meta property="og:title" content="{{ page.title }}"/>
<meta property="og:url" content="{{ site.url }}{{ page.url }}"/>
<meta property="og:description" content="{{ page.seo_descricao }}"/>
<meta property="og:locale" content="pt_BR"/>

{% if page.seo_capa %}
    <meta property="og:image"      content="{{ site.url }}/images/{{ page.seo_capa }}"/>
    <meta property="twitter:image" content="{{ site.url }}/images/{{ page.seo_capa }}">
    <meta property="twitter:card"  content="{{ site.url }}/images/{{ page.seo_capa }}">
{% elsif page.layout == "boletime_post" %}
    <meta property="og:image"      content="{{ site.url }}/images/boletime/posts/{{ page.identificador }}/capa.jpg"/>
    <meta property="twitter:image" content="{{ site.url }}/images/boletime/posts/{{ page.identificador }}/capa.jpg"/>
    <meta property="twitter:card"  content="{{ site.url }}/images/boletime/posts/{{ page.identificador }}/capa.jpg"/>
{% else %}
    <meta property="og:image"      content="{{ site.url }}/images/icons/logo.jpg"/>
    <meta property="twitter:image" content="{{ site.url }}/images/icons/favicon.jpg">
    <meta property="twitter:card"  content="{{ site.url }}/images/icons/favicon.jpg">
{% endif %}

<!-- SEO (TWITTER) -->
<meta name="twitter:site"            value="@{{ site.twitter }}">
<meta property="twitter:url"         content="{{ site.url }}">
<meta property="twitter:title"       content="{{ page.title }}">
<meta property="twitter:description" content="{{ page.seo_descricao }}">

<!-- BowserJS, para capturar informacoes do navegador -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bowser/2.11.0/bundled.js" integrity="sha512-FS3rpwhhjq9Tjt/U+qIrgOIa60xmW+Kr71CSGS5ifKJl/E9DdODyUrtentDS6eRmrfXPRzqq0DhywHd06qpdGw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>