{% assign sessoes = site.data.sessoes | sort: 'data' | reverse %}

{% assign prox_sessao = sessoes.first %}
{% assign data_sessao = prox_sessao.data | date: "%d/%m/%Y" %}

{% assign votacao = false %}
{% assign especial = false %}

{% if prox_sessao.especial %}
    {% assign especial = true %}
    {% assign data_sessao = prox_sessao.data %}
{% endif %}

{% if prox_sessao.votacao %}
    {% assign votacao = true %}
{% endif %}

{% if prox_sessao.apenas_google_forms %}
    <iframe 
        src="{{ prox_sessao.forms }}" 
        frameborder="0" 
        marginheight="0" 
        marginwidth="0" 
        style="width: 100%; height: {{prox_sessao.altura_forms}}">
    Carregando…
    </iframe>
{% else %}
<section id="proxima_sessao" aria-level="1">
    <div>
        <!-- <a href="#proxima_sessao" class="anchor" aria-hidden="true"></a> -->
        {% if especial == true %}
            <h3>{{ data_sessao }}</h3>
            <h2><b>{{ prox_sessao.titulo }}</b></h2>
        {% else %}
            {% if votacao == false %}
                <h3>Sessão {{ data_sessao }}</h3>
                <h2><b>{{ prox_sessao.titulo }}</b></h2>
            {% else %}
                <h2>Votação da Sessão {{ data_sessao }}</h2>
            {% endif %}
        {% endif %}
    </div>   

    <div class="openblock poster">
        <div class="content">
            {% if especial != true %}
                <img 
                    src="{{ site.urlImagens }}/cinime/{{ prox_sessao.capa }}" 
                    alt="..."
                >
            {% else %}
                {% assign paginas = prox_sessao.imgs %}
                <div class="swiffy-slider slider-item-show cinime-mimea">
                    <!-- Onde ficam os slides -->
                    <ul class="slider-container">
                        {% for pagina in paginas %}
                        
                            <li>
                                <img src="{{ site.urlImagens }}/cinime/{{ prox_sessao.diretorio_imgs }}/{{ pagina }}" alt="">
                            </li>
        
                        {% endfor %}
        
                    </ul>
                    <button class="slider-nav"></button>
                    <button class="slider-nav slider-nav-next"></button>
        
                    <div class="slider-indicators">
                        <button class="active"></button>
                        <button></button>
                        <button></button>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

    <section id="descricao" aria-level="2">
        {% if prox_sessao.descricao %}
            {% for p in prox_sessao.descricao %}
        	    <p>{{ p }}</p>
            {% endfor %}
        {% endif %}
    </section>

    <section id="sinopse" aria-level="2">
        {% if especial == true || votacao == true || prox_sessao.sinopse %}
        <h3>
            <a href="#sinopse" class="anchor" aria-hidden="true"></a>
            {% if especial == true %}
                Especial
            {% else %}
                {% if votacao == false %}
                    Sinopse
                {% else %}
                    Votação aberta!
                {% endif %}
            {% endif %}
        </h3>
        {% endif %}
        {% for p in prox_sessao.sinopse %}
        <p>
            {{ p }}
        </p>
        {% endfor %}
        {% if prox_sessao.forms %}
            🔗 <a href="{{ prox_sessao.forms }}" target="_blank">{{ prox_sessao.forms }}</a>
            <br><br>
        {% endif %}

        {% if votacao == true %}
            📊 Votação até {{ prox_sessao.datafimvotacao }}
            <br>
            🔗 <a href="{{ prox_sessao.formsvotacao }}" target="_blank">Vote aqui</a>
            <br><br>
        {% endif %}

    </section>

    {% if votacao == false %}

        <section id="informacoes" aria-level="2">
            <h3>
                <a href="#informacoes" class="anchor" aria-hidden="true"></a>
                Informações
            </h3>
            <p>
                <strong>📆</strong> 
                {% if especial == false %}
                    {{ prox_sessao.informacoes.dia }} ({{ prox_sessao.informacoes.dia_semana }})<br>
                    <strong>⏰</strong>{{ prox_sessao.informacoes.horario }}<br>
                {% else %}
                    {{ prox_sessao.informacoes.dia }}<br>
                    {% if prox_sessao.informacoes.programacao != "" %}
                        <strong>🎬</strong> <a href="{{ site.url }}/arquivos/cinime/{{ prox_sessao.informacoes.programacao }}" target="_blank">Programação completa.</a><br>
                    {% endif %}
                {% endif %}                
                {% if prox_sessao.informacoes.sala == "discord" %}
                    <strong>📍</strong> Discord do CinIME<br>
                    <strong>🔗</strong><a href="{{ site.discord_cinime }}" target="_blank">{{ site.discord_cinime }}</a><br>
                {% elsif prox_sessao.informacoes.sala == "cinusp_ma" %}
                    <strong>📍</strong> CinUSP - Maria Antônia<br>
                    <strong>🔗</strong><a href="{{ site.site_cinusp }}" target="_blank">CinUSP</a><br>
                {% else %}
                    <strong>📍</strong> {{ prox_sessao.informacoes.sala }}<br>
                    {% if prox_sessao.pipoca == true %}
                        <strong>🍿</strong> Teremos pipoca e refri!<br>
                    {% endif %}
                    {% if prox_sessao.resenha == true %}
                        <strong>🤙</strong> e resenha após o filme!
                    {% endif %}
                {% endif %}                
            </p>
        </section>
    
    {% endif %}
    
</section>
{% endif %}