---
title: BoletIME RDs
layout: repasses_rds
---

<h1>{{ page.title }}</h1>

<h2>Departamentos - MAT</h2>

{% if site.data._rds.departamentos.mat.size > 0 %}
    {% assign repasses = site.data._rds.departamentos.mat | sort: "data" | reverse %}
    {% for repasse in repasses %}
        <div class="colapsador">
            Reunião {{ repasse.data | date: "%d/%m/%Y" }} - {{ repasse.autoria }}
        </div>
        <div class="repasse">
            <p>{{ repasse.texto }}</p>
        </div>
        <br>
    {% endfor %}
{% else %}
    Ainda sem repasses.
{% endif %}