<!-- 
 * CAMat-Wiki!
 * Centro Academico da Matematica, Estatistica e Computacao da Universidade de Sao Paulo
 * https://camat.ime.usp.br/
 * 
 * Este eh o layout basico da pagina do BoletIME!
-->

<!doctype html>
<html class="no-js" lang="pt-br" data-useragent="Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Trident/6.0)">
<head>
    {% include head.html %}
    <meta property="og:type" content="website"/>

    <!-- css do boletIME -->
    <link rel="stylesheet" href="{{ site.url }}/css/boletime.css">
</head>
<body>
    {% include menu.html %}

    <main class="wrapper">
        
        <div class="menu">
            <div class="menu-hamburger"></div>
        </div>

        {% include header.html %}
        
        <section class="container">
            <div class="boletIME-capa">
                <img src="{{ site.urlImagens }}/boletime/capa_claro.png" alt="Capa do BoletIME" id="capa_claro_boletime">
                <img src="{{ site.urlImagens }}/boletime/capa_escuro.png" alt="Capa do BoletIME" id="capa_noturno_boletime">
            </div>
            <br>

            {{ content }}
            
            <br>

            <div class="boletime_edicoes">
                
                <div class="edicao_boletime" id="edicao_202310b">
                    <img src="{{ site.urlImagens }}/boletime/edicoes/202310b_boletime_greve_capa.png" alt="">
                    <div class="edicao_boletime_titulo">
                        <a href="{{ site.url }}/arquivos/boletime/pdf/202310b_boletime_greve.pdf" target="_blank" id="edicao_202310b_a">
                        </a>
                        Outubro/2023 - Nº2
                    </div>
                </div>

                <div class="edicao_boletime" id="edicao_202310">
                    <img src="{{ site.urlImagens }}/boletime/edicoes/202310_boletime_greve_capa.png" alt="">
                    <div class="edicao_boletime_titulo">
                        <a href="{{ site.url }}/arquivos/boletime/pdf/202310_boletime_greve.pdf" target="_blank" id="edicao_202310_a">
                        </a>
                        Outubro/2023 - Nº1
                    </div>
                </div>

                <div class="edicao_boletime" id="edicao_202309">
                    <img src="{{ site.urlImagens }}/boletime/edicoes/202309_boletime_greve_capa.png" alt="">
                    <div class="edicao_boletime_titulo">
                        <a href="{{ site.url }}/arquivos/boletime/pdf/202309_boletime_greve.pdf" target="_blank" id="edicao_202309_a">
                        </a>
                        Setembro/2023
                    </div>
                </div>

                <div class="edicao_boletime" id="edicao_202308">
                    <img src="{{ site.urlImagens }}/boletime/edicoes/202308_boletime_capa.png" alt="">
                    <div class="edicao_boletime_titulo">
                        <a href="{{ site.url }}/arquivos/boletime/pdf/202308_boletime.pdf" target="_blank" id="edicao_202308_a">
                        </a>
                        Agosto/2023
                    </div>
                </div>

                <div class="edicao_boletime" id="edicao_202306">
                    <img src="{{ site.urlImagens }}/boletime/edicoes/202306_boletime_capa.png" alt="">
                    <div class="edicao_boletime_titulo">
                        <a href="{{ site.url }}/arquivos/boletime/pdf/202306_boletime.pdf" target="_blank" id="edicao_202306_a">
                        </a>
                        Junho/2023
                    </div>
                </div>

                <div class="edicao_boletime" id="edicao_202303">
                    <img src="{{ site.urlImagens }}/boletime/edicoes/202303_boletime_capa.png" alt="">
                    <div class="edicao_boletime_titulo">
                        <a href="{{ site.url }}/arquivos/boletime/pdf/202303_boletime.pdf" target="_blank" id="edicao_202303_a">
                        </a>
                        Março/2023
                    </div>
                </div>

                <div class="edicao_boletime" id="edicao_202301">
                    <img src="{{ site.urlImagens }}/boletime/edicoes/202301_boletime_capa.png" alt="">
                    <div class="edicao_boletime_titulo">
                        <a href="{{ site.url }}/arquivos/boletime/pdf/202301_boletime.pdf" target="_blank" id="edicao_202301_a">
                        </a>
                        Janeiro/2023
                    </div>
                </div>

                <div class="edicao_boletime" id="edicao_202210">
                    <img src="{{ site.urlImagens }}/boletime/edicoes/202210_boletime_capa.png" alt="">
                    <div class="edicao_boletime_titulo">
                        <a href="{{ site.url }}/arquivos/boletime/pdf/202210_boletime.pdf" target="_blank" id="edicao_202210_a">
                        </a>
                        Outubro/2022
                    </div>
                </div>
            </div>

        </section>
        
        {% include footer.html %}
    </main>

    <!-- JavaScript do BoletIME -->
    <script src="{{ site.url }}/js/boletime.js"></script>

    {% include js_pos.html %}
</body>
</html>
