<!-- 
 * CAMat-Wiki!
 * Centro Academico da Matematica, Estatistica e Computacao da Universidade de Sao Paulo
 * https://camat.ime.usp.br/
 * 
 * Este eh o layout basico da pagina do BoletIME!
-->

<!doctype html>
<html class="no-js" lang="pt-br" data-useragent="Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Trident/6.0)">
<head>
    {% include head.html %}
    <meta property="og:type" content="website"/>

    <!-- css do boletIME -->
    <link rel="stylesheet" href="{{ site.url }}/css/boletime.css">
</head>
<body>
    {% include menu.html %}

    <main class="wrapper">
        
        <div class="menu">
            <div class="menu-hamburger"></div>
        </div>

        {% include header.html %}
        
        <section class="container">
            <div class="boletIME-capa">
                <img src="{{ site.urlImagens }}/boletime/capa_claro.png" alt="Capa do BoletIME" id="capa_claro_boletime">
                <img src="{{ site.urlImagens }}/boletime/capa_escuro.png" alt="Capa do BoletIME" id="capa_noturno_boletime">
            </div>

            <br>

            <a href="https://forms.gle/nLTxbpnbdTnk3g5F7" target="_blank" class="boletIME-escreva">
                <div>
                    <div>
                        <img src="{{ site.urlImagens }}/boletime/escrevendo.png" alt="">
                    </div>
                    <div>
                        Escreva para o BoletIME! <br> Clique aqui e veja como.
                    </div>
                </div>
            </a>

            {{ content }}
            
            <br>

            {% assign edicoes = site.data.boletime | sort: 'data' | reverse %}

            <div class="boletime_edicoes">
            {% for edicao in edicoes %}
                <div class="edicao_boletime" id="edicao_{{ edicao.edicao }}">
                    <img src="{{ site.urlImagens }}/boletime/edicoes/{{ edicao.capa }}" alt="">
                    <div class="edicao_boletime_titulo">
                        <a href="{{ site.url }}/arquivos/boletime/pdf/{{ edicao.pdf }}" target="_blank" id="edicao_{{ edicao.edicao }}_a"></a>
                        {{ edicao.titulo }}
                    </div>
                </div>
            {% endfor %}
        </section>
        
        {% include footer.html %}
    </main>

    <!-- JavaScript do BoletIME -->
    <script src="{{ site.url }}/js/boletime.js"></script>

    {% include js_pos.html %}
</body>
</html>
