<!doctype html>
<html class="no-js" lang="pt-br" data-useragent="Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Trident/6.0)">
<head>
    {% include head.html %}
    <meta property="og:type" content="website"/>

    <!-- Carousel -->
    <link rel="stylesheet" href="../dist/css/swiffy-slider.min.css" />
    <script src="../dist/js/swiffy-slider.min.js"></script>

    <!-- CSS do CinIME -->
    <link rel="stylesheet" href="{{ site.url }}/css/cinime.css">

</head>
<body>
    {% include menu.html %}

    <main class="wrapper">
        
        <div class="menu">
            <div class="menu-hamburger"></div>
        </div>

        {% include header.html %}
        
        <section class="container conteudo_cinime">
            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeKJACyqjkhHsG7RaPOw3iHtNN7FFuSalE2zaMQHFGqX5U5TA/viewform?embedded=true" frameborder="0" marginheight="0" marginwidth="0" style="width: 100%; height: 100vh;">Carregando…</iframe>

            {% include carousel-cinime.html %}
        </section>

        {% include footer.html %}

    </main>

    {% include js_pos.html %}
</body>
</html>
