<!-- 
 * CAMat-Wiki!
 * Centro Academico da Matematica, Estatistica e Computacao da Universidade de Sao Paulo
 * https://camat.ime.usp.br/
 * 
 * Este eh o layout basico da pagina de regulamentos!
-->

<!doctype html>
<html class="no-js" lang="pt-br" data-useragent="Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Trident/6.0)">
<head>
    {% include head.html %}
    <meta property="og:type" content="website"/>

    <!-- css dos relatórios -->
    <link rel="stylesheet" href="{{ site.url }}/css/relatorios.css">
</head>
<body>
    {% include menu.html %}

    <main class="wrapper">
        
        <div class="menu">
            <div class="menu-hamburger"></div>
        </div>

        {% include header.html %}
        
        <section class="container">
            {{ content }}
            
            <h2>Regimento - Debate eleitoral (CONUNE 2023)</h2>

            <div class="relatorios">

              <a href="{{ site.url }}/arquivos/regulamentos/20230612_DebateConune2023_regimento.pdf" class="relatorio">
                <div class="relatorio-capa">
                  <img src="{{ site.urlImagens }}/estatutos/20230612_DebateConune2023_regimento.jpg" alt="">
                </div>
                <div class="relatorio-titulo">
                  [2023] Debate eleitoral - CONUNE 2023
                </div>
              </a>

            </div>

            <br>

            <h2>An(IME)²</h2>

            <div class="relatorios">
            {% assign regulamentos_anime = site.data.regimento_anime | sort: "data" | reverse %}
            {% for regulamento in regulamentos_anime %}
              <a href="{{ site.url }}/arquivos/{{ regulamento.pdf }}" class="relatorio">
                <div class="relatorio-capa">
                  <img src="{{ site.urlImagens }}/{{ regulamento.capa }}" alt="">
                </div>
                <div class="relatorio-titulo">
                  {{ regulamento.titulo }}
                </div>
              </a>
            {% endfor %}
            </div>

            <br>

            <h2>Eleições</h2>

            <div class="relatorios">
            {% assign regulamentos_eleicao = site.data.eleicao | sort: "data" | reverse %}
            {% for regulamento in regulamentos_eleicao %}
              <a href="{{ site.url }}/arquivos/{{ regulamento.pdf }}" class="relatorio">
                <div class="relatorio-capa">
                  <img src="{{ site.urlImagens }}/{{ regulamento.capa }}" alt="">
                </div>
                <div class="relatorio-titulo">
                  {{ regulamento.titulo }}
                </div>
              </a>
            {% endfor %}
            </div>

        </section>
        
        {% include footer.html %}
    </main>

    {% include js_pos.html %}
</body>
</html>
