<!-- 
 * CAMat-Wiki!
 * Centro Academico da Matematica, Estatistica e Computacao da Universidade de Sao Paulo
 * https://camat.ime.usp.br/
 * 
 * Este eh o layout basico da pagina de relatorios!
-->

<!doctype html>
<html class="no-js" lang="pt-br" data-useragent="Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Trident/6.0)">
<head>
    {% include head.html %}
    <meta property="og:type" content="website"/>

    <!-- css dos relatórios -->
    <link rel="stylesheet" href="{{ site.url }}/css/relatorios.css">
</head>
<body>
    {% include menu.html %}

    <main class="wrapper">
        
        <div class="menu">
            <div class="menu-hamburger"></div>
        </div>

        {% include header.html %}
        
        <section class="container">
            {{ content }}
            
            <br>

            <div class="relatorios">
            {% assign relatorios = site.data.relatorios | sort: "data" | reverse %}
            {% for relatorio in relatorios %}
              <a href="{{ relatorio.link }}" class="relatorio">
                <div class="relatorio-capa">
                  <img src="{{ site.urlImagens }}/relatorios/{{ relatorio.capa }}" alt="">
                </div>
                <div class="relatorio-titulo">
                  {{ relatorio.titulo }}
                </div>
              </a>
            {% endfor %}
            </div>
        </section>
        
        {% include footer.html %}
    </main>

    {% include js_pos.html %}
</body>
</html>
