<!doctype html>
<html class="no-js" lang="pt-br" data-useragent="Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Trident/6.0)">
<head>
    {% include head.html %}
    <meta property="og:type" content="website"/>
</head>
<body>
    {% include menu.html %}

    <main class="wrapper">
        
        <div class="menu">
            <div class="menu-hamburger"></div>
        </div>

        {% include header.html %}
        
        <section class="container">
            {{ content }}
        </section>
        
        {% include footer.html %}
    </main>

    <script>
        var coll = document.getElementsByClassName("colapsador");
        var subcoll = document.getElementsByClassName("subcolapsador");
        var coll_subcoll = [...coll].concat([...subcoll])

        for (let i = 0; i < coll_subcoll.length; i++) {
            coll_subcoll[i].addEventListener("click", function() {
                var content = this.nextElementSibling;
                if (content.style.display === "block") {
                    content.style.display = "none";
                } else {
                    content.style.display = "block";
                }
            });
        }
    </script>

    {% include js_pos.html %}
</body>
</html>
